.meme {
    width: 500px; 
    height: 500px;
    margin-bottom: 10px;
    margin-top: 10%;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    animation: 2s memes ease-in-out forwards;
            
}

.meme:hover {
    width: 700px;
    height: 700px;
}
@keyframes memes {
    0% {
        margin-left: 80%;
    }
    100% {
        margin-left: 50%;
    }
}

html {
    background: rgb(29,253,58);
    background: linear-gradient(310deg, rgba(29,253,58,1) 0%, rgba(44,147,177,0.9977240896358543) 100%) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

